.col-md-4
  .card
    .card-image
      %img{:src => "http://cgelandscapedesign.com/wp-content/themes/beautygarden/images/logo.gif"}
      %span.card-title General Checklist
      .ripple-wrapper
    .card-content
      .checkbox
        %label
          %input{:type => "checkbox"}/
          Banck Request
      .checkbox
        %label
          %input{:type => "checkbox"}/
          IFE ID
      .checkbox
        %label
          %input{:type => "checkbox"}/
          Address Proof
      .checkbox
        %label
          %input{:type => "checkbox"}/
          Birth Certificate
