.col-md-4
  .card
    .card-image
      %img{:src => "http://cgelandscapedesign.com/wp-content/themes/beautygarden/images/logo.gif"}
      %span.card-title Legal Person Checklist
      .ripple-wrapper
    .card-content
      .checkbox
        %label
          %input{:type => "checkbox"}/
          Bussiness Statement
      .checkbox
        %label
          %input{:type => "checkbox"}/
          Personal Statement
      .checkbox
        %label
          %input{:type => "checkbox"}/
          Charter
      .checkbox
        %label
          %input{:type => "checkbox"}/
          Personal RFC
      .checkbox
        %label
          %input{:type => "checkbox"}/
          Bussines RFC
      .checkbox
        %label
          %input{:type => "checkbox"}/
          Bussines Finance Registration
      .checkbox
        %label
          %input{:type => "checkbox"}/
          Personal Finance Registration
      .checkbox
        %label
          %input{:type => "checkbox"}/
          Annual Return
      .checkbox
        %label
          %input{:type => "checkbox"}/
          Financial Statements