.col-md-4
  .card
    .card-image
      %img{:src => "http://cgelandscapedesign.com/wp-content/themes/beautygarden/images/logo.gif"}
      %span.card-title Natural Person Checklist
      .ripple-wrapper
    .card-content
      .checkbox
        %label
          %input{:type => "checkbox"}/
          Fiscal Statement
      .checkbox
        %label
          %input{:type => "checkbox"}/
          Finance Registration
      .checkbox
        %label
          %input{:type => "checkbox"}/
          RFC
      .checkbox
        %label
          %input{:type => "checkbox"}/
          Annual Return