.col-md-4
  .card
    .card-image
      %img{:src => "http://cgelandscapedesign.com/wp-content/themes/beautygarden/images/logo.gif"}
      %span.card-title Wage Person Checklist
      .ripple-wrapper
    .card-content
      .checkbox
        %label
          %input{:type => "checkbox"}/
          Payroll_statements
      .checkbox
        %label
          %input{:type => "checkbox"}/
          Payslips
      .checkbox
        %label
          %input{:type => "checkbox"}/
          RFC
      .checkbox
        %label
          %input{:type => "checkbox"}/
          labor_letter