= react_component 'LocationInfo', {data: @dossier}
= react_component 'NominalWorkRecord', {data: @nominal}
- if @spouse != nil
  = react_component 'NominalWorkRecord', {data: @spouse}
= react_component 'Documents', {data: @documents}
