.row
  .col-md-6
    = react_component 'LocationInfo', {data: @locationInfo}
  .col-md-6
    = react_component 'NominalWorkRecord', {data: @nominal}
.row
  - if @spouse != nil
    .col-md-6
      = react_component 'NominalWorkRecord', {data: @spouse}
  .col-md-6
    = react_component 'Documents', {data: @documents}
