%section{class: 'forms-basic'}
  .page-header
    %h1="Nueva interacción con #{@client.fullname}"
    %p.lead Por favor proveé la mayor información posible
.row.m-b-40
  .col-md-8
    .well.white

      = render 'form'

= link_to 'Atrás', @client
