%b Phones
%br
- @client.phones.each do |phone|
  %p
    %b Number:
    = [phone.number, phone.kind].join(" ")
  %p
    %b Contact hours:
    = ["From", phone.available_from.to_s(:time), "to", phone.available_to.to_s(:time)].join(" ")
  %br