%b Teléfonos
%br
%ul
  - @client.phones.each do |phone|
    %li
      %p
        %b="#{phone.kind} number:"
        = phone.number
      %p
        %b Horario de disponibilidad:
        = ["From", phone.available_from.to_s, "to", phone.available_to.to_s].join(" ")
    -#%br