%h2 My Dashboard

.row
  .col.s9
    .clients
      %table.table.striped
        %tr
          %th Client
          %th Interactions
          %th Appointments
          %th Actions
        = render partial: 'clients/client', collection: @my_clients, client: :client
  / Is an idea how could it be
  .col.s3
    = render partial: 'appointments/appointment', collection: @today_appointments, as: :appointment