%h2 My Dashboard

.row
  .col.s9
    .clients
      %table.table.striped
        %tr
          %th Client
          %th Interactions
          %th Appointments
          %th Actions
        = render partial: 'clients/client', collection: @my_clients, client: :client
  / Is an idea how could it be
  .col.s3
<<<<<<< HEAD
    .s12
      %ul.tabs
        %li.tab.col.s6
          %a{:href => "#test1",class: 'active'} Today
        %li.tab.col.s6
          %a{:href => "#test2"} All
      #test1.s12
        = render partial: 'appointments/appointment', collection: @today_appointments, as: :appointment
      #test2.s12
        - current_user.appointments.each do |appointment| # this scope can be done elsewhere
          = render 'appointments/appointment', appointment: appointment
