.dashboard.gray.lighten-3.ng-scope
  .row.no-gutter
    .col-md-8
      %h2 My Dashboard
      .card.z-depth-3
        %table.table.striped.clients
          %tr
            %th Client
            %th Interactions
            %th Appointments
            %th Actions
          = render partial: 'clients/client', collection: @my_clients, client: :client
        = paginate @my_clients
    .col-md-4
      %h2 My Appointments
      = render partial: 'appointments/appointments',locals: { appointments: current_user.appointments}