%h2 My Dashboard

.row
  .col.s9
    .clients
      %table.table.striped
        %tr
          %th Client
          %th Interactions
          %th Appointments
          %th Actions
        = render partial: 'clients/client', collection: @my_clients, client: :client\
  .col.s3
    %h2 Today's appointments
    %p This is supposed to be a sidebar,
    %p fucking materials :(