-if @complete
  = react_component 'CompleteAppoitmentForm',data: {client_id: @appointment.client_id,appointment_id: @appointment.id, selectOptions: Appointment::COMPLETE_MESSAGES,options: Appointment::COMPLETE_STATUS,
                                                         defaultMessage: '¿Qué ocurrió en la cita con el cliente?'}


-else
  = react_component 'CompleteAppoitmentForm',data: {client_id: @appointment.client_id,appointment_id: @appointment.id, selectOptions: Appointment::NO_COMPLETE_MESSAGES,options: Appointment::NO_COMPLETE_STATUS,
                                                         defaultMessage: '¿Por qué se canceló?'}


