%section.forms-basic
  .page-header
    %h1= "New appointment with #{@client.fullname}"
    %p.lead Please fill all the possible fields


.row.m-b-40
  .col-md-8
    .well.white
      = render 'form'

= link_to 'Back', appointments_path
