%p
  Hola #{@resource.email}!
%p Alguien ha solicitado un enlace para cambiar tu contraseña. Si fuiste tú, puedes hacerlo mediante el siguiente enlace
%p= link_to 'Cambiar mi contraseña', edit_password_url(@resource, reset_password_token: @token)
%p Si no solicitaste el cambio de tu contraseña, por favor ignora esto.
%p Tu contraseña no será modificada hasta que accedas al enlace anterior y crees una nueva.
