%header
  %nav.top-nav
    .container
      .nav-wrapper
        %a.page-title SACC
  .container
    %a{href: "#", class: "button-collapse top-nav full", data: {activates: "nav-mobile"}}
      %i.mdi-navigation-menu
  %ul{id: 'nav-mobile', class: "side-nav fixed"}
    %li.logo
      %a{id: 'logo-container', href: "/", class: "brand-logo"}
    %li= link_to "Clients", clients_path, class: "waves-effect waves-teal"
    %li= link_to "Appointments", appointments_path, class: "waves-effect waves-teal"