%header
  %nav
    %ul#slide-out.side-nav.fixed
      %li.logo
        %a{id: 'logo-container', href: '/', class: 'brand-logo'}
          %object
      %li.bold= link_to 'Home', root_path, class: 'waves-effect waves-teal'
      %li.bold= link_to 'Clients', clients_path, class: 'waves-effect waves-teal'
      %li.bold= link_to 'Appointments', appointments_path, class: 'waves-effect waves-teal'

    %a.button-collapse{"data-activates" => "slide-out",:href => "#"}
      %i.mdi-navigation-menu
