%nav.navbar.navbar-default.navbar-fixed-top
  .container-fluid
    .navbar-header.pull-left
      %button.navbar-toggle.pull-left.m-15{"data-activates" => ".sidebar"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %ul.breadcrumb
        %li
          Current action
        %li.active= [controller_name.capitalize, action_name.capitalize].join(" / ")
    %ul.nav.navbar-nav.navbar-right.navbar-right-no-collapse
      %li.dropdown.pull-right
        %button.dropdown-toggle.pointer.btn.btn-round-sm.btn-link.withoutripple{"bs-dropdown" => "", "data-animation" => "mat-grow-top-right"}
          %i.md.md-more-vert.f20
      %li.dropdown.pull-right
        %button.dropdown-toggle.pointer.btn.btn-round-sm.btn-link.withoutripple{"bs-dropdown" => ""}
          %i.md.md-settings.f20
      %li.pull-right{"navbar-search" => ""}
